<!DOCTYPE html>

<html>
    <head>
        <title> Prepping Program: {{ title }}</title>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/normalize.css') }}">

    </head>
    <body>
        <nav>
            <ul>
                {% if clocked_in==False %}
                <li><a href="/clockin">Clock In</a></li>
                {% endif %}
                {% if clocked_in %}
                <li><a href="/clockout">Clock Out</a></li>
                {% endif %}
                {% if managerPerms %}
                <li><a href="/manager">Manager</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
