<!DOCTYPE html>

<html>
    <head>
        <title>Prepping Program</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav>
            <ul>                
                <li><a href="/">Clock In</a></li>
                <li><a href="/clockout">Clock Out</a></li>
                <li><a href="/manager">Manager</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
