{% extends 'base.html' %}
{% block content %}



<table>
  <tr>
    <th >Inventory Number</th>
    <th >Inventory Name</th>
    <th >Quantity On Hand</th>
    <th >Location In Inventory</th>
    <th >Date Added</th>
    <th >Expiration Date</th>
    <th >Employee</th>
    <th >Select</th>
  </tr>

{% for row in table %}
  <tr
    {% if row[7] %}
    class="expired"
    {% endif %}
    >
    <td >{{ row[0] }}</td>
    <td >{{ row[1] }}</td>
    <td >{{ row[2] }}</td>
    <td >{{ row[3] }}</td>
    <td >{{ row[4] }}</td>
    <td >{{ row[5] }}</td>
    <td >{{ row[6] }}</td>
    <td ><input type="checkbox" name="invSelect{{ row[0] }}"></td>
  </tr>
{% endfor %}
</table>


{% endblock %}
